.container {
    max-width: 936px;
    margin: 0 auto;
}

.title_group {
    display: flex;
    gap: 24px;
    color: #000;
    margin-bottom: 57px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    max-width: 784px;
}

.sub_title {
    color: #000;
}

.red_span {
    color: #ff002C;
}

.save_img{
    display: block;
    margin: 0 auto;
    max-width: 640px;
}